In [1]:
import os
import sys 

os.environ["PYSPARK_PYTHON"] = "/opt/cloudera/parcels/Anaconda/bin/python"
os.environ["JAVA_HOME"] = "/usr/java/jdk1.8.0_232-cloudera/jre"
os.environ["SPARK_HOME"] = "/opt/cloudera/parcels/SPARK2-2.3.0.cloudera2-1.cdh5.13.3.p0.316101/lib/spark2/"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] +"/python/lib"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.6-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [3]:
# conf = SparkConf().setAppName('atm_trans').setMaster('local')
# sc = SparkContext(conf=conf)
spark = SparkSession.builder.appName('atm_trans').master('local').getOrCreate()
spark

# Loading Data

In [4]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import Window

In [5]:
table_schema = StructType(
    [
      StructField("year", IntegerType(), True),
      StructField("month", StringType(), True),
      StructField("day", IntegerType(), True),
      StructField("weekday", StringType(), True),
      StructField("hour", IntegerType(), True),
      StructField("atm_status", StringType(), True),
      StructField("atm_id", IntegerType(), True),
      StructField("atm_manufacturer", StringType(), True),
      StructField("atm_location", StringType(), True),
      StructField("atm_streetname", StringType(), True),
      StructField("atm_street_number", IntegerType(), True),
      StructField("atm_zipcode", IntegerType(), True),
      StructField("atm_lat",FloatType(), True),
      StructField("atm_lon", FloatType(), True),
      StructField("currency", StringType(), True),
      StructField("card_type", StringType(), True),
      StructField("transaction_amount", IntegerType(), True),
      StructField("service", StringType(), True),
      StructField("message_code", StringType(), True),
      StructField("message_text", StringType(), True),
      StructField("weather_lat", FloatType(), True),
      StructField("weather_lon", FloatType(), True),
      StructField("weather_city_id", StringType(), True),
      StructField("weather_city_name", StringType(), True),
      StructField("temp", FloatType(), True),
      StructField("pressure", IntegerType(), True),
      StructField("humidity", IntegerType(), True),
      StructField("wind_speed", IntegerType(), True),
      StructField("wind_deg", IntegerType(), True),
      StructField("rain_3h", FloatType(), True),
      StructField("clouds_all", IntegerType(), True),
      StructField("weather_id", IntegerType(), True),
      StructField("weather_main", StringType(), True),
      StructField("weather_description", StringType(), True),
     ]
 )

In [6]:
polished_df = spark.read.csv('hdfs:///user/root/atm_trans', schema=table_schema)

In [7]:
polished_df.where('weather_lon is null').show()

+----+-------+---+-------+----+----------+------+----------------+--------------------+-----------------+-----------------+-----------+-------+-------+--------+--------------------+------------------+----------+------------+--------------------+-----------+-----------+---------------+-----------------+----+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|        atm_location|   atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency|           card_type|transaction_amount|   service|message_code|        message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main|weather_description|
+----+-------+---+-------+----+----------+------+----------------+--------------------+-----------------+-----------------+-----------+-------+-------+--------+--------------------+------------------+----------+------------+--------------------+-----------+-----------+---------------+-----------------+----+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
|2017|January|  1| Sunday|   9|    Active|    41| Diebold Nixdorf|              Skagen|Sct. Laurentiivej|               36|       9990| 57.723|  10.59|     DKK|  Mastercard - on-us|              1581|Withdrawal|        4014|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  1| Sunday|  12|    Active|    41| Diebold Nixdorf|              Skagen|Sct. Laurentiivej|               36|       9990| 57.723|  10.59|     DKK|Visa Dankort - on-us|              6719|Withdrawal|        4014|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  1| Sunday|  15|    Active|    41| Diebold Nixdorf|              Skagen|Sct. Laurentiivej|               36|       9990| 57.723|  10.59|     DKK|Visa Dankort - on-us|              1372|Withdrawal|        4014|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  1| Sunday|  15|    Active|    41| Diebold Nixdorf|              Skagen|Sct. Laurentiivej|               36|       9990| 57.723|  10.59|     DKK|Visa Dankort - on-us|              3286|Withdrawal|        4014|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  1| Sunday|  17|    Active|    35|             NCR|             Aabybro|     ÃƒËœstergade|                6|       9440| 57.162|   9.73|     DKK|          MasterCard|              7387|Withdrawal|        4017|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  1| Sunday|  18|    Active|    55|             NCR|               Arden|       Vestergade|                6|       9510| 56.769|  9.859|     DKK|          MasterCard|              1117|Withdrawal|        4017|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  1| Sunday|  20|    Active|    85| Diebold Nixdorf|        KÃƒÂ¸benhavn|   Regnbuepladsen|                5|       1550| 55.676| 12.571|     DKK|        Visa Dankort|              8551|Withdrawal|        4017|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  1| Sunday|  21|    Active|    85| Diebold Nixdorf|        KÃƒÂ¸benhavn|   Regnbuepladsen|                5|       1550| 55.676| 12.571|     DKK|          MasterCard|              4531|Withdrawal|        4017|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  1| Sunday|  21|    Active|    85| Diebold Nixdorf|        KÃƒÂ¸benhavn|   Regnbuepladsen|                5|       1550| 55.676| 12.571|     DKK|                VISA|              9003|Withdrawal|        4017|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  1| Sunday|  21|    Active|    51|             NCR|             Gistrup|       Hadsundvej|              346|       9260| 56.997|  9.993|     DKK|        Visa Dankort|              6002|Withdrawal|        4014|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  1| Sunday|  22|    Active|    47|             NCR|       Frederiksberg|  Gammel Kongevej|              157|       1850| 55.677| 12.537|     DKK|          MasterCard|              9493|Withdrawal|        4014|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  2| Monday|   6|    Active|    45|             NCR|          Abildgaard|   HjÃƒÂ¸rringvej|              144|       9900| 57.447| 10.506|     DKK|          MasterCard|              1241|Withdrawal|        4017|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  2| Monday|   9|    Active|    79|             NCR|          Middelfart|          Brogade|                9|       5500| 55.507|  9.727|     DKK|          MasterCard|              1823|Withdrawal|        4017|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  2| Monday|   9|    Active|    80|             NCR|Menu KÃƒÂ¸bmand K...|        Klarupvej|               52|       9270| 57.013| 10.046|     DKK|Visa Dankort - on-us|              7562|Withdrawal|        4017|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  2| Monday|  10|    Active|    85| Diebold Nixdorf|        KÃƒÂ¸benhavn|   Regnbuepladsen|                5|       1550| 55.676| 12.571|     DKK|                VISA|               959|Withdrawal|        4017|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  2| Monday|  10|    Active|    83|             NCR|                 Fur|       StenÃƒÂ¸re|               19|       7884| 56.805|   9.02|     DKK|     Dankort - on-us|               463|Withdrawal|        4017|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  2| Monday|  10|    Active|    80|             NCR|Menu KÃƒÂ¸bmand K...|        Klarupvej|               52|       9270| 57.013| 10.046|     DKK|     Dankort - on-us|              6762|Withdrawal|        4017|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  2| Monday|  10|    Active|    80|             NCR|Menu KÃƒÂ¸bmand K...|        Klarupvej|               52|       9270| 57.013| 10.046|     DKK|Visa Dankort - on-us|              4454|Withdrawal|        4017|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  2| Monday|  10|    Active|    85| Diebold Nixdorf|        KÃƒÂ¸benhavn|   Regnbuepladsen|                5|       1550| 55.676| 12.571|     DKK|                VISA|              8396|Withdrawal|        4017|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
|2017|January|  2| Monday|  11|    Active|    23| Diebold Nixdorf|             Vodskov|       Vodskovvej|               27|       9310| 57.104| 10.027|     DKK|          MasterCard|              7474|Withdrawal|        4017|Suspected malfunc...|       null|       null|           null|             null|null|    null|    null|      null|    null|   null|      null|      null|        null|               null|
+----+-------+---+-------+----+----------+------+----------------+--------------------+-----------------+-----------------+-----------+-------+-------+--------+--------------------+------------------+----------+------------+--------------------+-----------+-----------+---------------+-----------------+----+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
only showing top 20 rows

In [8]:
polished_df.show(10)

+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|atm_location|     atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency|         card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|  temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main| weather_description|
+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|2017|January|  1| Sunday|   0|    Active|     1|             NCR|  NÃƒÂ¦stved|        Farimagsvej|                8|       4700| 55.233| 11.763|     DKK|        MasterCard|              5643|Withdrawal|        null|        null|      55.23|     11.761|        2616038|         Naestved|281.15|    1014|      87|         7|     260|  0.215|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|    Vejgaard|         Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|        MasterCard|              1764|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|    Vejgaard|         Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|              VISA|              1891|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     3|             NCR|       Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|     DKK|              VISA|              4166|Withdrawal|        null|        null|     56.139|      9.158|        2619426|            Ikast|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     4|             NCR|  Svogerslev|       BrÃƒÂ¸nsager|                1|       4000| 55.634| 12.018|     DKK|        MasterCard|              5153|Withdrawal|        null|        null|     55.642|      12.08|        2614481|         Roskilde|280.61|    1014|      87|         7|     260|    0.0|        88|       701|        Mist|                mist|
|2017|January|  1| Sunday|   0|    Active|     5|             NCR|        Nibe|             Torvet|                1|       9240| 56.983|  9.639|     DKK|        MasterCard|              3269|Withdrawal|        null|        null|     56.981|      9.639|        2616483|             Nibe|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|     6|             NCR|  Fredericia|   SjÃƒÂ¦llandsgade|               33|       7000| 55.564|  9.757|     DKK|        MasterCard|               887|Withdrawal|        null|        null|     55.566|      9.753|        2621951|       Fredericia|281.15|    1014|      93|         7|     230|   0.29|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|     7| Diebold Nixdorf|   Hjallerup|  Hjallerup Centret|               18|       9320| 57.168| 10.148|     DKK|Mastercard - on-us|              4626|Withdrawal|        null|        null|     57.165|     10.146|        2620275|        Hjallerup|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|     8|             NCR| GlyngÃƒÂ¸re|        FÃƒÂ¦rgevej|                1|       7870| 56.762|  8.867|     DKK|        MasterCard|               470|Withdrawal|        null|        null|     56.793|      8.853|        2615964|    Nykobing Mors|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     9| Diebold Nixdorf|     Hadsund|          Storegade|               12|       9560| 56.716| 10.114|     DKK|              VISA|              8473|Withdrawal|        null|        null|     56.715|     10.117|        2620952|          Hadsund|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
only showing top 10 rows

In [9]:
polished_df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- atm_id: integer (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- atm_location: string (nullable = true)
 |-- atm_streetname: string (nullable = true)
 |-- atm_street_number: integer (nullable = true)
 |-- atm_zipcode: integer (nullable = true)
 |-- atm_lat: float (nullable = true)
 |-- atm_lon: float (nullable = true)
 |-- currency: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- weather_lat: float (nullable = true)
 |-- weather_lon: float (nullable = true)
 |-- weather_city_id: string (nullable = true)
 |-- weather_city_name: string (nullable = true)
 |-- temp: float (nullable = true)
 |-- pressure: integer (nullable = true)
 |-- humidity: integer (nullable = true)
 |-- wind_speed: integer (nullable = true)
 |-- wind_deg: integer (nullable = true)
 |-- rain_3h: float (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

In [10]:
polished_df.cache()

DataFrame[year: int, month: string, day: int, weekday: string, hour: int, atm_status: string, atm_id: int, atm_manufacturer: string, atm_location: string, atm_streetname: string, atm_street_number: int, atm_zipcode: int, atm_lat: float, atm_lon: float, currency: string, card_type: string, transaction_amount: int, service: string, message_code: string, message_text: string, weather_lat: float, weather_lon: float, weather_city_id: string, weather_city_name: string, temp: float, pressure: int, humidity: int, wind_speed: int, wind_deg: int, rain_3h: float, clouds_all: int, weather_id: int, weather_main: string, weather_description: string]

# Create dimension schema

In [11]:
polished_df.show()

+----+-------+---+-------+----+----------+------+----------------+------------------+--------------------+-----------------+-----------+-------+-------+--------+--------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|      atm_location|      atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency|           card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|  temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main| weather_description|
+----+-------+---+-------+----+----------+------+----------------+------------------+--------------------+-----------------+-----------+-------+-------+--------+--------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|2017|January|  1| Sunday|   0|    Active|     1|             NCR|        NÃƒÂ¦stved|         Farimagsvej|                8|       4700| 55.233| 11.763|     DKK|          MasterCard|              5643|Withdrawal|        null|        null|      55.23|     11.761|        2616038|         Naestved|281.15|    1014|      87|         7|     260|  0.215|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|          Vejgaard|          Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|          MasterCard|              1764|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|          Vejgaard|          Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|                VISA|              1891|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     3|             NCR|             Ikast| RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|     DKK|                VISA|              4166|Withdrawal|        null|        null|     56.139|      9.158|        2619426|            Ikast|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     4|             NCR|        Svogerslev|        BrÃƒÂ¸nsager|                1|       4000| 55.634| 12.018|     DKK|          MasterCard|              5153|Withdrawal|        null|        null|     55.642|      12.08|        2614481|         Roskilde|280.61|    1014|      87|         7|     260|    0.0|        88|       701|        Mist|                mist|
|2017|January|  1| Sunday|   0|    Active|     5|             NCR|              Nibe|              Torvet|                1|       9240| 56.983|  9.639|     DKK|          MasterCard|              3269|Withdrawal|        null|        null|     56.981|      9.639|        2616483|             Nibe|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|     6|             NCR|        Fredericia|    SjÃƒÂ¦llandsgade|               33|       7000| 55.564|  9.757|     DKK|          MasterCard|               887|Withdrawal|        null|        null|     55.566|      9.753|        2621951|       Fredericia|281.15|    1014|      93|         7|     230|   0.29|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|     7| Diebold Nixdorf|         Hjallerup|   Hjallerup Centret|               18|       9320| 57.168| 10.148|     DKK|  Mastercard - on-us|              4626|Withdrawal|        null|        null|     57.165|     10.146|        2620275|        Hjallerup|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|     8|             NCR|       GlyngÃƒÂ¸re|         FÃƒÂ¦rgevej|                1|       7870| 56.762|  8.867|     DKK|          MasterCard|               470|Withdrawal|        null|        null|     56.793|      8.853|        2615964|    Nykobing Mors|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     9| Diebold Nixdorf|           Hadsund|           Storegade|               12|       9560| 56.716| 10.114|     DKK|                VISA|              8473|Withdrawal|        null|        null|     56.715|     10.117|        2620952|          Hadsund|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|    10|             NCR|    NÃƒÂ¸rresundby|              Torvet|                6|       9400| 57.059|  9.922|     DKK|             Dankort|               953|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|    11|             NCR|         Sauersvej|Fridtjof Nansens Vej|                2|       9210| 57.023|   9.94|     DKK|        Visa Dankort|              9346|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|          Vejgaard|          Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|  Mastercard - on-us|              3874|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|    12|             NCR|ÃƒËœsterÃƒÂ¥  Duus|        ÃƒËœsterÃƒÂ¥|               12|       9000| 57.049|  9.922|     DKK|  Mastercard - on-us|              1329|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|    13|             NCR|           SÃƒÂ¦by|          Vestergade|                3|       9300| 57.334| 10.515|     DKK|  Mastercard - on-us|              5024|Withdrawal|        null|        null|     57.441|     10.537|        2621927|    Frederikshavn|281.14|    1019|      94|        12|     251|  1.275|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|    14|             NCR|        HÃƒÂ¸rning|        NÃƒÂ¸rrealle|               12|       8362| 56.086| 10.037|     DKK|Visa Dankort - on-us|              1133|Withdrawal|        null|        null|     56.157|     10.211|        2624652|            Arhus|281.15|    1012|      87|         5|     250|    0.0|        92|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|    15|             NCR|            Vestre|           Kastetvej|               36|       9000| 57.053|  9.905|     DKK|          MasterCard|               594|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|    12|             NCR|ÃƒËœsterÃƒÂ¥  Duus|        ÃƒËœsterÃƒÂ¥|               12|       9000| 57.049|  9.922|     DKK|  Mastercard - on-us|              9570|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|    16|             NCR|             Skive|            Adelgade|                8|       7800| 56.567|  9.027|     DKK|        Visa Dankort|              6068|Withdrawal|        null|        null|     56.567|      9.033|        2613731|            Skive|281.15|    1012|     100|         7|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|    17|             NCR|           Randers|        ÃƒËœstervold|               16|       8900| 56.462| 10.038|     DKK|                VISA|              1630|Withdrawal|        null|        null|     56.715|     10.117|        2620952|          Hadsund|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
+----+-------+---+-------+----+----------+------+----------------+------------------+--------------------+-----------------+-----------+-------+-------+--------+--------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
only showing top 20 rows

In [12]:
polished_df.select(['year', 'month', 'day', 'weekday', 'hour']).distinct().count()

8685

In [13]:
polished_df.select(['atm_location', 'atm_streetname', 'atm_street_number', 'atm_zipcode', 'atm_lat', 'atm_lon']).distinct().count()

109

In [14]:
polished_df.select(['card_type']).distinct().count()

12

In [15]:
polished_df.select(['atm_manufacturer', 'atm_location', 'atm_streetname', 'atm_street_number', 'atm_zipcode', 'atm_lat', 'atm_lon', 'atm_id']).distinct().count()

113

In [16]:
polished_df.count()

2468572

Create date dimension

In [17]:
dim_date = polished_df.select(['year', 'month', 'day', 'weekday', 'hour']).distinct()

In [18]:
dim_date.show(10)

+----+--------+---+--------+----+
|year|   month|day| weekday|hour|
+----+--------+---+--------+----+
|2017| January|  1|  Sunday|   9|
|2017| January|  3| Tuesday|   5|
|2017| January|  8|  Sunday|  19|
|2017| January| 21|Saturday|   3|
|2017| January| 23|  Monday|  21|
|2017|February|  2|Thursday|  19|
|2017|February|  5|  Sunday|  16|
|2017|February| 21| Tuesday|  15|
|2017|   March|  2|Thursday|   8|
|2017|   April|  2|  Sunday|   2|
+----+--------+---+--------+----+
only showing top 10 rows

In [19]:
from datetime import datetime

# add full date
merge_date = udf(lambda day, month, year, hour: "{}/{}/{} {}".format(day, datetime.strptime(month, '%B').month, year, hour))

dim_date = dim_date.withColumn('full_date', merge_date('day', 'month', 'year', 'hour'))
dim_date = dim_date.withColumn('full_date', to_timestamp("full_date", format="d/M/yyyy H")).orderBy('full_date')

In [20]:
increasing_id = Window.orderBy(monotonically_increasing_id())
dim_date = dim_date.withColumn('date_id', row_number().over(increasing_id))
dim_date = dim_date.select([dim_date.columns[-1]] + dim_date.columns[:-1])

In [21]:
dim_date.show()

+-------+----+-------+---+-------+----+-------------------+
|date_id|year|  month|day|weekday|hour|          full_date|
+-------+----+-------+---+-------+----+-------------------+
|      1|2017|January|  1| Sunday|   0|2017-01-01 00:00:00|
|      2|2017|January|  1| Sunday|   1|2017-01-01 01:00:00|
|      3|2017|January|  1| Sunday|   2|2017-01-01 02:00:00|
|      4|2017|January|  1| Sunday|   3|2017-01-01 03:00:00|
|      5|2017|January|  1| Sunday|   4|2017-01-01 04:00:00|
|      6|2017|January|  1| Sunday|   5|2017-01-01 05:00:00|
|      7|2017|January|  1| Sunday|   6|2017-01-01 06:00:00|
|      8|2017|January|  1| Sunday|   7|2017-01-01 07:00:00|
|      9|2017|January|  1| Sunday|   8|2017-01-01 08:00:00|
|     10|2017|January|  1| Sunday|   9|2017-01-01 09:00:00|
|     11|2017|January|  1| Sunday|  10|2017-01-01 10:00:00|
|     12|2017|January|  1| Sunday|  11|2017-01-01 11:00:00|
|     13|2017|January|  1| Sunday|  12|2017-01-01 12:00:00|
|     14|2017|January|  1| Sunday|  13|2017-01-01 13:00:00|
|     15|2017|January|  1| Sunday|  14|2017-01-01 14:00:00|
|     16|2017|January|  1| Sunday|  15|2017-01-01 15:00:00|
|     17|2017|January|  1| Sunday|  16|2017-01-01 16:00:00|
|     18|2017|January|  1| Sunday|  17|2017-01-01 17:00:00|
|     19|2017|January|  1| Sunday|  18|2017-01-01 18:00:00|
|     20|2017|January|  1| Sunday|  19|2017-01-01 19:00:00|
+-------+----+-------+---+-------+----+-------------------+
only showing top 20 rows

In [22]:
dim_date.printSchema()

root
 |-- date_id: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- full_date: timestamp (nullable = true)

Create location dimension

In [23]:
dim_location = polished_df.select(['atm_location', 'atm_streetname', 'atm_street_number', 'atm_zipcode', 'atm_lat', 'atm_lon']).distinct()

In [24]:
dim_location.show()

+--------------------+--------------------+-----------------+-----------+-------+-------+
|        atm_location|      atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|
+--------------------+--------------------+-----------------+-----------+-------+-------+
|         SÃƒÂ¦by Syd|Trafikcenter SÃƒÂ...|                1|       9300| 57.313|  10.45|
|         GlyngÃƒÂ¸re|         FÃƒÂ¦rgevej|                1|       7870| 56.762|  8.867|
|      Skelagervej 15|         Skelagervej|               15|       9000| 57.023|  9.891|
|               Durup|              Torvet|                4|       7870| 56.745|  8.949|
|           Svendborg|  Sankt Nicolai Gade|                1|       5700| 55.058| 10.609|
|             Herning|          Dalgasgade|               30|       7400| 56.135|  8.971|
|            Roskilde|    KÃƒÂ¸benhavnsvej|               65|       4000| 55.642| 12.106|
|Aalborg Storcente...|            Hobrovej|              452|       9200| 57.005|  9.876|
|          NÃƒÂ¦stved|        Farimagsgade|                8|       4700|  55.69| 12.575|
|          Abildgaard|      HjÃƒÂ¸rringvej|              144|       9900| 57.447| 10.506|
|             Vodskov|          Vodskovvej|               27|       9310| 57.104| 10.027|
|  Storcenter indg. A|            Hobrovej|              452|       9200| 57.005|  9.876|
|  ÃƒËœsterÃƒÂ¥  Duus|        ÃƒËœsterÃƒÂ¥|               12|       9000| 57.049|  9.922|
|         HÃƒÂ¸jbjerg|      Rosenvangsalle|              194|       8270| 56.119| 10.192|
|NykÃƒÂ¸bing Mors ...|         Kirketorvet|                1|       7900| 56.795|   8.86|
|           Hjallerup|   Hjallerup Centret|               18|       9320| 57.168| 10.148|
|         Skive Lobby|            Adelgade|                8|       7800| 56.567|  9.027|
|          Svogerslev|        BrÃƒÂ¸nsager|                1|       4000| 55.634| 12.018|
|              Aarhus|      SÃƒÂ¸nder Alle|               11|       8000| 56.153| 10.206|
|              Odense|        FÃƒÂ¦lledvej|                3|       5000| 55.394|  10.37|
+--------------------+--------------------+-----------------+-----------+-------+-------+
only showing top 20 rows

In [25]:
# add sequential id to the locaiton dimension
# rename column names
increasing_id = Window.orderBy(monotonically_increasing_id())
dim_location = dim_location.withColumn('location_id', row_number().over(increasing_id))
dim_location = dim_location.select([dim_location.columns[-1]] + dim_location.columns[:-1])
dim_location = dim_location.withColumnRenamed('atm_location', 'location') \
  .withColumnRenamed('atm_streetname', 'streetname') \
  .withColumnRenamed('atm_street_number', 'street_number') \
  .withColumnRenamed('atm_zipcode', 'zipcode') \
  .withColumnRenamed('atm_lat', 'lat') \
  .withColumnRenamed('atm_lon', 'lon')

In [26]:
dim_location.show()

+-----------+--------------------+--------------------+-------------+-------+------+------+
|location_id|            location|          streetname|street_number|zipcode|   lat|   lon|
+-----------+--------------------+--------------------+-------------+-------+------+------+
|          1|         SÃƒÂ¦by Syd|Trafikcenter SÃƒÂ...|            1|   9300|57.313| 10.45|
|          2|         GlyngÃƒÂ¸re|         FÃƒÂ¦rgevej|            1|   7870|56.762| 8.867|
|          3|      Skelagervej 15|         Skelagervej|           15|   9000|57.023| 9.891|
|          4|               Durup|              Torvet|            4|   7870|56.745| 8.949|
|          5|           Svendborg|  Sankt Nicolai Gade|            1|   5700|55.058|10.609|
|          6|             Herning|          Dalgasgade|           30|   7400|56.135| 8.971|
|          7|            Roskilde|    KÃƒÂ¸benhavnsvej|           65|   4000|55.642|12.106|
|          8|Aalborg Storcente...|            Hobrovej|          452|   9200|57.005| 9.876|
|          9|          NÃƒÂ¦stved|        Farimagsgade|            8|   4700| 55.69|12.575|
|         10|          Abildgaard|      HjÃƒÂ¸rringvej|          144|   9900|57.447|10.506|
|         11|             Vodskov|          Vodskovvej|           27|   9310|57.104|10.027|
|         12|  Storcenter indg. A|            Hobrovej|          452|   9200|57.005| 9.876|
|         13|  ÃƒËœsterÃƒÂ¥  Duus|        ÃƒËœsterÃƒÂ¥|           12|   9000|57.049| 9.922|
|         14|         HÃƒÂ¸jbjerg|      Rosenvangsalle|          194|   8270|56.119|10.192|
|         15|NykÃƒÂ¸bing Mors ...|         Kirketorvet|            1|   7900|56.795|  8.86|
|         16|           Hjallerup|   Hjallerup Centret|           18|   9320|57.168|10.148|
|         17|         Skive Lobby|            Adelgade|            8|   7800|56.567| 9.027|
|         18|          Svogerslev|        BrÃƒÂ¸nsager|            1|   4000|55.634|12.018|
|         19|              Aarhus|      SÃƒÂ¸nder Alle|           11|   8000|56.153|10.206|
|         20|              Odense|        FÃƒÂ¦lledvej|            3|   5000|55.394| 10.37|
+-----------+--------------------+--------------------+-------------+-------+------+------+
only showing top 20 rows

In [27]:
dim_location.count()

109

Create ATM dimension

In [28]:
id_and_location = list(dim_location.select(['location_id', 'location']).collect())
id_location_dict = dict()

for location_id, location in id_and_location:
  id_location_dict[location] = location_id

In [29]:
add_location_id = udf(lambda location: id_location_dict[location])

dim_atm = polished_df.select(['atm_id', 'atm_manufacturer', 'atm_location']).withColumn('location_id', add_location_id(polished_df.atm_location)).distinct()
dim_atm = dim_atm.drop('atm_location').orderBy('atm_id')

In [30]:
dim_atm = dim_atm.withColumn('atm_number', dim_atm['atm_id'])
dim_atm = dim_atm.select([dim_atm.columns[0]] + [dim_atm.columns[-1]] + [dim_atm.columns[1]] + [dim_atm.columns[2]])
dim_atm = dim_atm.withColumn('atm_number', col('atm_number').cast(StringType()))

In [31]:
dim_atm.show()

+------+----------+----------------+-----------+
|atm_id|atm_number|atm_manufacturer|location_id|
+------+----------+----------------+-----------+
|     1|         1|             NCR|         81|
|     2|         2|             NCR|         38|
|     3|         3|             NCR|         84|
|     4|         4|             NCR|         18|
|     5|         5|             NCR|         35|
|     6|         6|             NCR|        105|
|     7|         7| Diebold Nixdorf|         16|
|     8|         8|             NCR|          2|
|     9|         9| Diebold Nixdorf|         94|
|    10|        10|             NCR|         46|
|    11|        11|             NCR|         23|
|    12|        12|             NCR|         13|
|    13|        13|             NCR|         88|
|    14|        14|             NCR|         47|
|    15|        15|             NCR|         83|
|    16|        16|             NCR|         58|
|    17|        17|             NCR|        107|
|    18|        18| Diebold Nixdorf|         43|
|    19|        19|             NCR|         89|
|    20|        20|             NCR|         74|
+------+----------+----------------+-----------+
only showing top 20 rows

In [32]:
dim_atm.printSchema()

root
 |-- atm_id: integer (nullable = true)
 |-- atm_number: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- location_id: string (nullable = true)

In [33]:
dim_atm.select('atm_number').count()

113

Create card type dimension

In [34]:
dim_card_type = polished_df.select(['card_type']).distinct()
increasing_id = Window.orderBy(monotonically_increasing_id())
dim_card_type = dim_card_type.withColumn('card_type_id', row_number().over(increasing_id))
dim_card_type = dim_card_type.select([dim_card_type.columns[-1]] + dim_card_type.columns[:-1])

In [35]:
dim_card_type.show()

+------------+--------------------+
|card_type_id|           card_type|
+------------+--------------------+
|           1|     Dankort - on-us|
|           2|              CIRRUS|
|           3|         HÃƒÂ¦vekort|
|           4|                VISA|
|           5|  Mastercard - on-us|
|           6|             Maestro|
|           7|Visa Dankort - on-us|
|           8|        Visa Dankort|
|           9|            VisaPlus|
|          10|          MasterCard|
|          11|             Dankort|
|          12| HÃƒÂ¦vekort - on-us|
+------------+--------------------+

In [36]:
dim_card_type.printSchema()

root
 |-- card_type_id: integer (nullable = true)
 |-- card_type: string (nullable = true)

Create transaction fact table

In [37]:
transaction_fact = polished_df

In [38]:
transaction_fact.show()

+----+-------+---+-------+----+----------+------+----------------+------------------+--------------------+-----------------+-----------+-------+-------+--------+--------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|      atm_location|      atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency|           card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|  temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main| weather_description|
+----+-------+---+-------+----+----------+------+----------------+------------------+--------------------+-----------------+-----------+-------+-------+--------+--------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|2017|January|  1| Sunday|   0|    Active|     1|             NCR|        NÃƒÂ¦stved|         Farimagsvej|                8|       4700| 55.233| 11.763|     DKK|          MasterCard|              5643|Withdrawal|        null|        null|      55.23|     11.761|        2616038|         Naestved|281.15|    1014|      87|         7|     260|  0.215|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|          Vejgaard|          Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|          MasterCard|              1764|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|          Vejgaard|          Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|                VISA|              1891|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     3|             NCR|             Ikast| RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|     DKK|                VISA|              4166|Withdrawal|        null|        null|     56.139|      9.158|        2619426|            Ikast|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     4|             NCR|        Svogerslev|        BrÃƒÂ¸nsager|                1|       4000| 55.634| 12.018|     DKK|          MasterCard|              5153|Withdrawal|        null|        null|     55.642|      12.08|        2614481|         Roskilde|280.61|    1014|      87|         7|     260|    0.0|        88|       701|        Mist|                mist|
|2017|January|  1| Sunday|   0|    Active|     5|             NCR|              Nibe|              Torvet|                1|       9240| 56.983|  9.639|     DKK|          MasterCard|              3269|Withdrawal|        null|        null|     56.981|      9.639|        2616483|             Nibe|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|     6|             NCR|        Fredericia|    SjÃƒÂ¦llandsgade|               33|       7000| 55.564|  9.757|     DKK|          MasterCard|               887|Withdrawal|        null|        null|     55.566|      9.753|        2621951|       Fredericia|281.15|    1014|      93|         7|     230|   0.29|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|     7| Diebold Nixdorf|         Hjallerup|   Hjallerup Centret|               18|       9320| 57.168| 10.148|     DKK|  Mastercard - on-us|              4626|Withdrawal|        null|        null|     57.165|     10.146|        2620275|        Hjallerup|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|     8|             NCR|       GlyngÃƒÂ¸re|         FÃƒÂ¦rgevej|                1|       7870| 56.762|  8.867|     DKK|          MasterCard|               470|Withdrawal|        null|        null|     56.793|      8.853|        2615964|    Nykobing Mors|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     9| Diebold Nixdorf|           Hadsund|           Storegade|               12|       9560| 56.716| 10.114|     DKK|                VISA|              8473|Withdrawal|        null|        null|     56.715|     10.117|        2620952|          Hadsund|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|    10|             NCR|    NÃƒÂ¸rresundby|              Torvet|                6|       9400| 57.059|  9.922|     DKK|             Dankort|               953|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|    11|             NCR|         Sauersvej|Fridtjof Nansens Vej|                2|       9210| 57.023|   9.94|     DKK|        Visa Dankort|              9346|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|          Vejgaard|          Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|  Mastercard - on-us|              3874|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|    12|             NCR|ÃƒËœsterÃƒÂ¥  Duus|        ÃƒËœsterÃƒÂ¥|               12|       9000| 57.049|  9.922|     DKK|  Mastercard - on-us|              1329|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|    13|             NCR|           SÃƒÂ¦by|          Vestergade|                3|       9300| 57.334| 10.515|     DKK|  Mastercard - on-us|              5024|Withdrawal|        null|        null|     57.441|     10.537|        2621927|    Frederikshavn|281.14|    1019|      94|        12|     251|  1.275|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|    14|             NCR|        HÃƒÂ¸rning|        NÃƒÂ¸rrealle|               12|       8362| 56.086| 10.037|     DKK|Visa Dankort - on-us|              1133|Withdrawal|        null|        null|     56.157|     10.211|        2624652|            Arhus|281.15|    1012|      87|         5|     250|    0.0|        92|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|    15|             NCR|            Vestre|           Kastetvej|               36|       9000| 57.053|  9.905|     DKK|          MasterCard|               594|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|    12|             NCR|ÃƒËœsterÃƒÂ¥  Duus|        ÃƒËœsterÃƒÂ¥|               12|       9000| 57.049|  9.922|     DKK|  Mastercard - on-us|              9570|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|    16|             NCR|             Skive|            Adelgade|                8|       7800| 56.567|  9.027|     DKK|        Visa Dankort|              6068|Withdrawal|        null|        null|     56.567|      9.033|        2613731|            Skive|281.15|    1012|     100|         7|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|    17|             NCR|           Randers|        ÃƒËœstervold|               16|       8900| 56.462| 10.038|     DKK|                VISA|              1630|Withdrawal|        null|        null|     56.715|     10.117|        2620952|          Hadsund|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
+----+-------+---+-------+----+----------+------+----------------+------------------+--------------------+-----------------+-----------+-------+-------+--------+--------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
only showing top 20 rows

In [39]:
# modify card type column

# get the pairs 
card_type_list = list(dim_card_type.select(['card_type_id', 'card_type']).collect())
card_type_dict = dict()

for card in card_type_list:
  card_type_dict[card.card_type] = card.card_type_id

get_card_type_id = udf(lambda card: card_type_dict[card])
transaction_fact = transaction_fact.withColumn('card_type', get_card_type_id('card_type')) \
  .withColumnRenamed('card_type', 'card_type_id')

In [40]:
# modify weather city name
location_list = list(dim_location.select(['location_id', 'location']).collect())
location_dict = dict()

for loc in location_list:
  location_dict[loc.location] = loc.location_id

get_weather_location_id = udf(lambda location: location_dict[location] if location in location_dict.keys() else None)
transaction_fact = transaction_fact.withColumn('weather_city_name', get_weather_location_id('weather_city_name')) \
  .withColumnRenamed('weather_city_name', 'weather_loc_id')

In [41]:
transaction_fact.show()

+----+-------+---+-------+----+----------+------+----------------+------------------+--------------------+-----------------+-----------+-------+-------+--------+------------+------------------+----------+------------+------------+-----------+-----------+---------------+--------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|      atm_location|      atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency|card_type_id|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_loc_id|  temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main| weather_description|
+----+-------+---+-------+----+----------+------+----------------+------------------+--------------------+-----------------+-----------+-------+-------+--------+------------+------------------+----------+------------+------------+-----------+-----------+---------------+--------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|2017|January|  1| Sunday|   0|    Active|     1|             NCR|        NÃƒÂ¦stved|         Farimagsvej|                8|       4700| 55.233| 11.763|     DKK|          10|              5643|Withdrawal|        null|        null|      55.23|     11.761|        2616038|          null|281.15|    1014|      87|         7|     260|  0.215|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|          Vejgaard|          Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|          10|              1764|Withdrawal|        null|        null|     57.048|      9.935|        2616235|            46|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|          Vejgaard|          Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|           4|              1891|Withdrawal|        null|        null|     57.048|      9.935|        2616235|            46|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     3|             NCR|             Ikast| RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|     DKK|           4|              4166|Withdrawal|        null|        null|     56.139|      9.158|        2619426|            84|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     4|             NCR|        Svogerslev|        BrÃƒÂ¸nsager|                1|       4000| 55.634| 12.018|     DKK|          10|              5153|Withdrawal|        null|        null|     55.642|      12.08|        2614481|             7|280.61|    1014|      87|         7|     260|    0.0|        88|       701|        Mist|                mist|
|2017|January|  1| Sunday|   0|    Active|     5|             NCR|              Nibe|              Torvet|                1|       9240| 56.983|  9.639|     DKK|          10|              3269|Withdrawal|        null|        null|     56.981|      9.639|        2616483|            35|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|     6|             NCR|        Fredericia|    SjÃƒÂ¦llandsgade|               33|       7000| 55.564|  9.757|     DKK|          10|               887|Withdrawal|        null|        null|     55.566|      9.753|        2621951|           105|281.15|    1014|      93|         7|     230|   0.29|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|     7| Diebold Nixdorf|         Hjallerup|   Hjallerup Centret|               18|       9320| 57.168| 10.148|     DKK|           5|              4626|Withdrawal|        null|        null|     57.165|     10.146|        2620275|            16|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|     8|             NCR|       GlyngÃƒÂ¸re|         FÃƒÂ¦rgevej|                1|       7870| 56.762|  8.867|     DKK|          10|               470|Withdrawal|        null|        null|     56.793|      8.853|        2615964|          null|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     9| Diebold Nixdorf|           Hadsund|           Storegade|               12|       9560| 56.716| 10.114|     DKK|           4|              8473|Withdrawal|        null|        null|     56.715|     10.117|        2620952|            94|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|    10|             NCR|    NÃƒÂ¸rresundby|              Torvet|                6|       9400| 57.059|  9.922|     DKK|          11|               953|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          null|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|    11|             NCR|         Sauersvej|Fridtjof Nansens Vej|                2|       9210| 57.023|   9.94|     DKK|           8|              9346|Withdrawal|        null|        null|     57.048|      9.935|        2616235|            46|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|          Vejgaard|          Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|           5|              3874|Withdrawal|        null|        null|     57.048|      9.935|        2616235|            46|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|    12|             NCR|ÃƒËœsterÃƒÂ¥  Duus|        ÃƒËœsterÃƒÂ¥|               12|       9000| 57.049|  9.922|     DKK|           5|              1329|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          null|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|    Active|    13|             NCR|           SÃƒÂ¦by|          Vestergade|                3|       9300| 57.334| 10.515|     DKK|           5|              5024|Withdrawal|        null|        null|     57.441|     10.537|        2621927|            63|281.14|    1019|      94|        12|     251|  1.275|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|    14|             NCR|        HÃƒÂ¸rning|        NÃƒÂ¸rrealle|               12|       8362| 56.086| 10.037|     DKK|           7|              1133|Withdrawal|        null|        null|     56.157|     10.211|        2624652|          null|281.15|    1012|      87|         5|     250|    0.0|        92|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|    15|             NCR|            Vestre|           Kastetvej|               36|       9000| 57.053|  9.905|     DKK|          10|               594|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          null|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|    12|             NCR|ÃƒËœsterÃƒÂ¥  Duus|        ÃƒËœsterÃƒÂ¥|               12|       9000| 57.049|  9.922|     DKK|           5|              9570|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          null|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|    16|             NCR|             Skive|            Adelgade|                8|       7800| 56.567|  9.027|     DKK|           8|              6068|Withdrawal|        null|        null|     56.567|      9.033|        2613731|            58|281.15|    1012|     100|         7|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|    17|             NCR|           Randers|        ÃƒËœstervold|               16|       8900| 56.462| 10.038|     DKK|           4|              1630|Withdrawal|        null|        null|     56.715|     10.117|        2620952|            94|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
+----+-------+---+-------+----+----------+------+----------------+------------------+--------------------+-----------------+-----------+-------+-------+--------+------------+------------------+----------+------------+------------+-----------+-----------+---------------+--------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
only showing top 20 rows

In [42]:
get_date_id = list(dim_date.select(['date_id', 'full_date']).collect())
date_id_dict = dict()

for date in get_date_id:
  date_id_dict[date.full_date] = date.date_id

In [43]:
transaction_merge_date = udf(lambda day, month, year, hour: "{}/{}/{} {}".format(day, datetime.strptime(month, '%B').month, year, hour))
set_date_id = udf(lambda full_date: date_id_dict[full_date])

transaction_fact = transaction_fact.withColumn('full_date', transaction_merge_date('day', 'month', 'year', 'hour')) \
  .withColumn('full_date', to_timestamp("full_date", format="d/M/yyyy H")) \
  .drop('year', 'month', 'day', 'weekday', 'hour') \
  .withColumn('full_date', set_date_id('full_date')) \
  .withColumnRenamed('full_date', 'date_id')

transaction_fact = transaction_fact.select([transaction_fact.columns[-1]] + transaction_fact.columns[:-1])

In [44]:
transaction_fact.show()

+-------+----------+------+----------------+------------------+--------------------+-----------------+-----------+-------+-------+--------+------------+------------------+----------+------------+------------+-----------+-----------+---------------+--------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|date_id|atm_status|atm_id|atm_manufacturer|      atm_location|      atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency|card_type_id|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_loc_id|  temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main| weather_description|
+-------+----------+------+----------------+------------------+--------------------+-----------------+-----------+-------+-------+--------+------------+------------------+----------+------------+------------+-----------+-----------+---------------+--------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|      1|    Active|     1|             NCR|        NÃƒÂ¦stved|         Farimagsvej|                8|       4700| 55.233| 11.763|     DKK|          10|              5643|Withdrawal|        null|        null|      55.23|     11.761|        2616038|          null|281.15|    1014|      87|         7|     260|  0.215|        92|       500|        Rain|          light rain|
|      1|  Inactive|     2|             NCR|          Vejgaard|          Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|          10|              1764|Withdrawal|        null|        null|     57.048|      9.935|        2616235|            46|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|      1|  Inactive|     2|             NCR|          Vejgaard|          Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|           4|              1891|Withdrawal|        null|        null|     57.048|      9.935|        2616235|            46|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|      1|  Inactive|     3|             NCR|             Ikast| RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|     DKK|           4|              4166|Withdrawal|        null|        null|     56.139|      9.158|        2619426|            84|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|      1|    Active|     4|             NCR|        Svogerslev|        BrÃƒÂ¸nsager|                1|       4000| 55.634| 12.018|     DKK|          10|              5153|Withdrawal|        null|        null|     55.642|      12.08|        2614481|             7|280.61|    1014|      87|         7|     260|    0.0|        88|       701|        Mist|                mist|
|      1|    Active|     5|             NCR|              Nibe|              Torvet|                1|       9240| 56.983|  9.639|     DKK|          10|              3269|Withdrawal|        null|        null|     56.981|      9.639|        2616483|            35|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|      1|    Active|     6|             NCR|        Fredericia|    SjÃƒÂ¦llandsgade|               33|       7000| 55.564|  9.757|     DKK|          10|               887|Withdrawal|        null|        null|     55.566|      9.753|        2621951|           105|281.15|    1014|      93|         7|     230|   0.29|        92|       500|        Rain|          light rain|
|      1|    Active|     7| Diebold Nixdorf|         Hjallerup|   Hjallerup Centret|               18|       9320| 57.168| 10.148|     DKK|           5|              4626|Withdrawal|        null|        null|     57.165|     10.146|        2620275|            16|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|      1|    Active|     8|             NCR|       GlyngÃƒÂ¸re|         FÃƒÂ¦rgevej|                1|       7870| 56.762|  8.867|     DKK|          10|               470|Withdrawal|        null|        null|     56.793|      8.853|        2615964|          null|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|      1|    Active|     9| Diebold Nixdorf|           Hadsund|           Storegade|               12|       9560| 56.716| 10.114|     DKK|           4|              8473|Withdrawal|        null|        null|     56.715|     10.117|        2620952|            94|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|      1|    Active|    10|             NCR|    NÃƒÂ¸rresundby|              Torvet|                6|       9400| 57.059|  9.922|     DKK|          11|               953|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          null|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|      1|    Active|    11|             NCR|         Sauersvej|Fridtjof Nansens Vej|                2|       9210| 57.023|   9.94|     DKK|           8|              9346|Withdrawal|        null|        null|     57.048|      9.935|        2616235|            46|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|      1|  Inactive|     2|             NCR|          Vejgaard|          Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|           5|              3874|Withdrawal|        null|        null|     57.048|      9.935|        2616235|            46|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|      1|  Inactive|    12|             NCR|ÃƒËœsterÃƒÂ¥  Duus|        ÃƒËœsterÃƒÂ¥|               12|       9000| 57.049|  9.922|     DKK|           5|              1329|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          null|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|      1|    Active|    13|             NCR|           SÃƒÂ¦by|          Vestergade|                3|       9300| 57.334| 10.515|     DKK|           5|              5024|Withdrawal|        null|        null|     57.441|     10.537|        2621927|            63|281.14|    1019|      94|        12|     251|  1.275|        92|       500|        Rain|          light rain|
|      1|  Inactive|    14|             NCR|        HÃƒÂ¸rning|        NÃƒÂ¸rrealle|               12|       8362| 56.086| 10.037|     DKK|           7|              1133|Withdrawal|        null|        null|     56.157|     10.211|        2624652|          null|281.15|    1012|      87|         5|     250|    0.0|        92|       300|     Drizzle|light intensity d...|
|      1|    Active|    15|             NCR|            Vestre|           Kastetvej|               36|       9000| 57.053|  9.905|     DKK|          10|               594|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          null|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|      1|  Inactive|    12|             NCR|ÃƒËœsterÃƒÂ¥  Duus|        ÃƒËœsterÃƒÂ¥|               12|       9000| 57.049|  9.922|     DKK|           5|              9570|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          null|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|      1|  Inactive|    16|             NCR|             Skive|            Adelgade|                8|       7800| 56.567|  9.027|     DKK|           8|              6068|Withdrawal|        null|        null|     56.567|      9.033|        2613731|            58|281.15|    1012|     100|         7|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|      1|    Active|    17|             NCR|           Randers|        ÃƒËœstervold|               16|       8900| 56.462| 10.038|     DKK|           4|              1630|Withdrawal|        null|        null|     56.715|     10.117|        2620952|            94|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
+-------+----------+------+----------------+------------------+--------------------+-----------------+-----------+-------+-------+--------+------------+------------------+----------+------------+------------+-----------+-----------+---------------+--------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
only showing top 20 rows

In [45]:
# 'atm_location', 'atm_streetname', 'atm_manufacturer', 'atm_zipcode', 'atm_street_number', 'atm_lat', 'atm_lon', 'weather_lat', 'weather_lon', 'weather_city_id, 'pressure'
transaction_fact = transaction_fact.drop('atm_location', 'atm_streetname', 'atm_manufacturer', 'atm_zipcode', 'atm_street_number', 'atm_lat', 'atm_lon', 'weather_lat', 'weather_lon', 'weather_city_id', 'temp', 'humidity', 'wind_speed', 'wind_deg', 'pressure')

In [46]:
increasing_id = Window.orderBy(monotonically_increasing_id())
transaction_fact = transaction_fact.withColumn('trans_id', row_number().over(increasing_id))
transaction_fact = transaction_fact.select([transaction_fact.columns[-1]] + transaction_fact.columns[:-1])
transaction_fact = transaction_fact.withColumn('trans_id', col('trans_id').cast(LongType()))

In [47]:
transaction_fact.show()

+--------+-------+----------+------+--------+------------+------------------+----------+------------+------------+--------------+-------+----------+----------+------------+--------------------+
|trans_id|date_id|atm_status|atm_id|currency|card_type_id|transaction_amount|   service|message_code|message_text|weather_loc_id|rain_3h|clouds_all|weather_id|weather_main| weather_description|
+--------+-------+----------+------+--------+------------+------------------+----------+------------+------------+--------------+-------+----------+----------+------------+--------------------+
|       1|      1|    Active|     1|     DKK|          10|              5643|Withdrawal|        null|        null|          null|  0.215|        92|       500|        Rain|          light rain|
|       2|      1|  Inactive|     2|     DKK|          10|              1764|Withdrawal|        null|        null|            46|   0.59|        92|       500|        Rain|          light rain|
|       3|      1|  Inactive|     2|     DKK|           4|              1891|Withdrawal|        null|        null|            46|   0.59|        92|       500|        Rain|          light rain|
|       4|      1|  Inactive|     3|     DKK|           4|              4166|Withdrawal|        null|        null|            84|    0.0|        75|       300|     Drizzle|light intensity d...|
|       5|      1|    Active|     4|     DKK|          10|              5153|Withdrawal|        null|        null|             7|    0.0|        88|       701|        Mist|                mist|
|       6|      1|    Active|     5|     DKK|          10|              3269|Withdrawal|        null|        null|            35|   0.59|        92|       500|        Rain|          light rain|
|       7|      1|    Active|     6|     DKK|          10|               887|Withdrawal|        null|        null|           105|   0.29|        92|       500|        Rain|          light rain|
|       8|      1|    Active|     7|     DKK|           5|              4626|Withdrawal|        null|        null|            16|   0.59|        92|       500|        Rain|          light rain|
|       9|      1|    Active|     8|     DKK|          10|               470|Withdrawal|        null|        null|          null|    0.0|        75|       300|     Drizzle|light intensity d...|
|      10|      1|    Active|     9|     DKK|           4|              8473|Withdrawal|        null|        null|            94|   0.59|        92|       500|        Rain|          light rain|
|      11|      1|    Active|    10|     DKK|          11|               953|Withdrawal|        null|        null|          null|   0.59|        92|       500|        Rain|          light rain|
|      12|      1|    Active|    11|     DKK|           8|              9346|Withdrawal|        null|        null|            46|   0.59|        92|       500|        Rain|          light rain|
|      13|      1|  Inactive|     2|     DKK|           5|              3874|Withdrawal|        null|        null|            46|   0.59|        92|       500|        Rain|          light rain|
|      14|      1|  Inactive|    12|     DKK|           5|              1329|Withdrawal|        null|        null|          null|   0.59|        92|       500|        Rain|          light rain|
|      15|      1|    Active|    13|     DKK|           5|              5024|Withdrawal|        null|        null|            63|  1.275|        92|       500|        Rain|          light rain|
|      16|      1|  Inactive|    14|     DKK|           7|              1133|Withdrawal|        null|        null|          null|    0.0|        92|       300|     Drizzle|light intensity d...|
|      17|      1|    Active|    15|     DKK|          10|               594|Withdrawal|        null|        null|          null|   0.59|        92|       500|        Rain|          light rain|
|      18|      1|  Inactive|    12|     DKK|           5|              9570|Withdrawal|        null|        null|          null|   0.59|        92|       500|        Rain|          light rain|
|      19|      1|  Inactive|    16|     DKK|           8|              6068|Withdrawal|        null|        null|            58|    0.0|        75|       300|     Drizzle|light intensity d...|
|      20|      1|    Active|    17|     DKK|           4|              1630|Withdrawal|        null|        null|            94|   0.59|        92|       500|        Rain|          light rain|
+--------+-------+----------+------+--------+------------+------------------+----------+------------+------------+--------------+-------+----------+----------+------------+--------------------+
only showing top 20 rows

In [48]:
transaction_fact.printSchema()

root
 |-- trans_id: long (nullable = true)
 |-- date_id: string (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- atm_id: integer (nullable = true)
 |-- currency: string (nullable = true)
 |-- card_type_id: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- weather_loc_id: string (nullable = true)
 |-- rain_3h: float (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

# Export dimension tables

In [49]:
dim_date.write.format('csv').save('s3a://atmtransdata/atmtrans_v2/dim_date.csv', mode='overwrite')

In [50]:
dim_location.write.format('csv').save('s3a://atmtransdata/atmtrans_v2/dim_location.csv', mode='overwrite')

In [51]:
dim_card_type.write.format('csv').save('s3a://atmtransdata/atmtrans_v2/dim_card_type.csv', mode='overwrite')

In [52]:
dim_atm.write.format('csv').save('s3a://atmtransdata/atmtrans_v2/dim_atm.csv', mode='overwrite')

In [53]:
transaction_fact.write.format('csv').save('s3a://atmtransdata/atmtrans_v2/transaction_fact.csv', mode='overwrite')

# Conclusion of the dimensions

In [54]:
dim_date.columns

['date_id', 'year', 'month', 'day', 'weekday', 'hour', 'full_date']

In [55]:
dim_location.columns

['location_id',
 'location',
 'streetname',
 'street_number',
 'zipcode',
 'lat',
 'lon']

In [56]:
dim_card_type.columns

['card_type_id', 'card_type']

In [57]:
dim_atm.columns

['atm_id', 'atm_number', 'atm_manufacturer', 'location_id']

In [58]:
transaction_fact.columns

['trans_id',
 'date_id',
 'atm_status',
 'atm_id',
 'currency',
 'card_type_id',
 'transaction_amount',
 'service',
 'message_code',
 'message_text',
 'weather_loc_id',
 'rain_3h',
 'clouds_all',
 'weather_id',
 'weather_main',
 'weather_description']